body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.item-content{
  display:flex;
  flex-direction: row;
  width:calc(100% - 20px);
  height:80px;
  background-color:#fff;
  border-bottom:1px solid #eee;
  align-items:center;
  color:#000;
  margin:0 auto;
}
.item-title{
  font-size:15px;
  margin-top:10px;
  height:40px;
  overflow: hidden;
  line-height: 20px;
  text-overflow:ellipsis
}
.item-img{
  min-width:100px;
  max-width:100px;
  height:60px;
  background-size: 100px 60px;
  background-repeat:no-repeat;
  margin-left:10px;
  margin-right:10px;
  display:block;
}
.item-right{
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:space-between;
}
.item-counts{
  height:30px;
  display:flex;
  flex-direction: row;
  width:100%;
  align-items:center;
  margin-bottom: 5px;
}
.item-text{
  color:#ccc;
  font-size:12px;
  margin: 0 2px 0 2px;
}
.container{
 overflow-x: hidden;
  height:100%
}
.article-container{
  width: 100%;
  position:relative;
  /*height:100%;*/
  /*display: none;*/
  margin-top:44px;
}

/*********tab-s**********/
.tab-header {
  box-shadow:0px 1px 5px #7e7e7e;
  display: flex;
  width:100%;
  position:fixed;
  z-index: 999;
}
.notice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:60px;
}
.notice-title {
  color: #888;
  display: flex;
  width:calc(100% - 40px);
  height:30px;
  border-bottom: 1px solid #ddd;
}
.notice-item-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
    flex-direction: row;
    width:calc(100% - 40px);
    padding:10px;


}
.notice-item{
  height:35px;
  padding:0 15px;
  text-align: center;
  line-height:35px;
  color:#aaa;
  margin-top: 10px;
  font-size: 15px;
  margin-right:10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  /*border:1px solid #0f87eb;*/
}

.swiper2 {
  width: 100%;
  margin-top:40px;
  height:100%;
  overflow-y: scroll;

}
.swiper2 .swiper-slide {
  height: 100%;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  box-sizing: border-box !important;


}
/*********tab-e**********/


.error-content {
    width:100%;
    display: none;
    flex-direction: column;
    align-items: center;
    height:100%;
    justify-content: center;
    margin-top:30%;
}
.nodata-content {
    width:100%;
    display: none;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    height:100%;
    justify-content: center;
    margin-top:50%;
}
.error-icon {
    font-size: 70px;color:#bbb;
    margin:20px;
}
.error-text {
    width:100%;color:#bbb;
    text-align: center;
}